<h2>All Tasks</h2>

<ul>
    {{#each toDo_tasks}}
    <li>
        {{this.task}}
    </li>
    {{/each}}
</ul>

<h2>Tasks that are not complete!</h2>

<ul>
  {{#each toDo_tasks}}
    {{#unless complete}}
      {{> tasks/task-block}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Tasks that are complete!</h2>

<ul>
  {{#each toDo_tasks}}
    {{#if complete}}
      {{> tasks/task-block}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add New 2DOTask</h2>
<form class = "new-task-form">

  <div class="form-group">
    <label for = "newTask">Task:</label>
    <input type="text" id = "newTask" name="task">
  </div>

  <button type="submit">Add 2DO Task</button>
</form>

