<h1>Tasks!</h1>

<h2>All Tasks</h2>

<ul>
    {{#each toDo_tasks}}
    <li>
        {{this.id}}
        {{this.task}}
    </li>
    {{/each}}
</ul>

<h2>Tasks that are not complete!</h2>

<ul>
  {{#each toDo_tasks}}
    {{#unless complete}}
      {{> tasks/task-block}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Tasks that are complete!</h2>

<ul>
  {{#each toDo_tasks}}
    {{#if complete}}
      {{> tasks/task-block}}
    {{/if}}
  {{/each}}
</ul>

