<!-- Task Input Row -->
<div class = "row input-row">
    <div class = "col-md-12">
        <form class = "new-task-form">

            <div class="input-group mb-3 new-task-form">
                <input type="text" id = "newTask" name="task" style = "color: black" class="form-control new-task" placeholder="Got a new 2DO?" aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
            
            <div class="input-group-append">
                <button  id = "add" class = "bg-primary" type="submit">Add 2DO</button>
            </div>
        </form>
    </div>
</div>


<div class = "row main-row">
    <div class = "col-md-4">
        <div class = "row">
            <div class = "col-md-12">
                <ul class="list-group" id = "2DOs">
                    <li class="list-group-item bg-light header"><b> All 2DOs</b></li>
                    {{#each toDo_tasks}}
                        <li class="list-group-item 2DO-task">
                            {{this.task}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div class = "col-md-4">
        <div class = "row">
            <div class = "col-md-12">
                <ul class="list-group" id = "2DOs">
                    <li class="list-group-item bg-success header"><b> Complete 2DOs</b></li>
                    {{#each toDo_tasks}}
                        {{#if complete}}
                            {{> tasks/task-block}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div class = "col-md-4">
        <div class = "row">
            <div class = "col-md-12">
                <ul class="list-group" id = "2DOs">
                    <li class="list-group-item bg-warning header"><b> Incomplete 2DOs</b></li>
                    {{#each toDo_tasks}}
                        {{#unless complete}}
                            {{> tasks/task-block}}
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>