nav {
    color: white !important; 
    background-color: rgb(18, 30, 42) !important; 
    text-align: left; 
}

.navbar {
    text-align: left !important; 
}

body {
    background-color: rgb(255, 255, 251) !important; 
}

p {
    margin: 0px !important; 
}

.header {
    font-family: 'Patua One', cursive;
    font-size: 22px; 
}

#logo {
    font-family: 'Bevan', cursive;
    font-size: 25px;  
    display: inline !important; 
    margin: 0 !important; 
}

#slogan {
    display: inline !important; 
    margin: 0 !important; 
}

#image-logo {
    margin-top: 5px; 
}

input[type=text]:focus {
    color: black !important; 
}

.main-row, .input-row {
    margin-top: 3%;
    margin-left: 3% !important;  
    margin-right: 3% !important; 
}

.header {
    font-family: 'Patua One', cursive;
    font-size: 22px; 
}

.new-task {
    color: white !important; 
}

.action-button {
    background-color: transparent; 
    border: none; 
    width: 20%; 
}

#delete, #done {
    width: 70%; 
    margin: none; 
}

#add {
    color: white !important; 
}

.action-button {
    width: 50px;
}

#buttons {
    display: inline; 
}

#reactivate {
    width: 100%; 
    border: solid grey 1px; 
}

button {
    float: right; 
    padding: none; 
}

.close {
    margin-top: 3px; 
}

#add {
    border: none !important; 
}

#counter {
    position: fixed; 
    font-family: 'Patua One', cursive;
    bottom: 0; 
    width: 5%; 
    height: 20%; 
}
#all-count {
    background-color: rgb(18, 30, 42); 
    color: white; 
}

#complete-count {
    background-color: rgb(15, 170, 15);  
}

#incomplete-count {
    background-color: red; 
}
/*
.main-row, .input-row {
    margin-top: 3%;
    margin-left: 3%;  
    margin-right: 3%; 
}

#priority2DOs, #scoreboard {
    margin-top: 23px; 
}

.header {
    font-family: 'Patua One', cursive;
    font-size: 22px; 
}

.new-task {
    color: white !important; 
    border: none !important; 
}

#logo {
    margin-right: 89% !important;
    font-family: 'Bevan', cursive;
    font-size: 25px;  
}

input[type=text]:focus {
    color: black !important; 
  } */